@model IEnumerable<WeaponsLocker.Models.Firearm.FirearmListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirearmType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirearmId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastCleaned)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirearmType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirearmId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastCleaned)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FirearmId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FirearmId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FirearmId })
        </td>
    </tr>
}

</table>
